
<form class="example-form">
  <mat-form-field class="example-full-width">
  <span matPrefix> </span>
  <input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]="filter" >
  <button matSuffix mat-button  (click)="onClick()"><mat-icon >search</mat-icon></button>
  </mat-form-field>
  <br/>
  {{search}}
  </form>



  <div class="content">
      <div fxLayout="row wrap" layout-align="center" fxLayoutGap="30px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let h of filteredHotels">
          <mat-card class="mat-elevation-z4" >
            <img mat-card-image class="imgCard" src="../../assets/img/{{h.img}}" alt="{{h.name}}">
            <mat-card-title class="hotelName">{{h.name}}</mat-card-title>
            <div>
              <app-stars [rating]='h.stars'></app-stars>
            </div>
            <mat-card-content class="contentSpace">
              <p class="price">
                {{h.price | currency}}
              </p>
              <p >{{h.description}}</p>
            </mat-card-content>
            <mat-card-actions class="actionSpace">
              <button mat-flat-button color="primary">Book</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      </div>



<!--
  <div class="row">
    <div *ngFor="let h of filteredHotels">

      <div class="row p-3 g-0">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/img/{{h.img}}" class="img-fluid rounded" alt="{{h.name}}">
          <div class="card-body">
            <h5 class="card-title text-primary fw-bold">{{h.name }}</h5>
            <app-stars [rating]='h.stars' style="font-size: 11px"></app-stars>
            <p class="card-text" style="font-size: 12px">{{h.description}}</p>
            <p class="card-text"><small class="text-danger">{{h.price | currency }}</small></p>

            <button type="submit" id="buyButton" class="btn btn-primary btn-sm" (click)="hotelService.addBookedHotel(h)">Book</button>
          </div>
        </div>
    </div>
  </div>
-->


