<div class="container">
  <div class="input-group input-group-lg my-3 border border-warning border-4 rounded">
    <span class="input-group-text" id="inputGroup-sizing-lg">Filter:</span>
    <input type="text" class="form-control" [(ngModel)]="filter" (change)="onSearchChange()" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" >
  </div>

  <div class="row">
    <div *ngFor="let h of filteredHotels">
      <div class="row p-3 g-0">
        <div class="card" style="width: 18rem;">
          <img src="../../assets/img/{{h.img}}" class="img-fluid rounded" alt="{{h.name}}">
          <div class="card-body">
            <h5 class="card-title text-primary fw-bold">{{h.name }}</h5>
            <app-stars [rating]='h.stars' style="font-size: 11px"></app-stars>
            <p class="card-text" style="font-size: 12px">{{h.description}}</p>
            <p class="card-text"><small class="text-danger">{{h.price | currency }}</small></p>

            <button type="submit" id="buyButton" class="btn btn-primary btn-sm" (click)="hotelService.addBookedHotel(h)">Book</button>
          </div>
        </div>
    </div>
  </div>
</div>
