.form-field {
  width: 57%;
  margin-left: 1.2%;
  margin-bottom: 1%;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


.hotel-img {
  border: 1px #ddd solid;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px;
  margin: 2px;
}

.products-props {
  font-size: 0.65rem;
}

.content {
  padding: 16px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.hotelName {
  color: #3f51b5;
  
}


.content > mat-card {
  width: 300px;
}
.price {
  color: red;
  font-weight: bold;
}

.imgCard {
  height: 230px;
}
.contentSpace {
  margin-top: 5px;
}

.actionSpace {
  margin-left: 0.8%;
}
