<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" routerLink="">
    <mat-icon>store</mat-icon>
  </button>
  <button mat-button routerLink="/hotels">Hotels</button>
  <button mat-button routerLink="cart">
    Checkout
    <mat-icon [matBadge]="hotelService.bookedHotels.length" matBadgeColor="warn">add_shopping_cart</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
</mat-toolbar>


<!--local_hotel-->